<div class="section section--padding">
    <h6 class="text-center mb-5">Technology & tools i use</h6>
    <div class="tools">
        <div class="flex-grid flex-grid--2i flex-grid--md-3i flex-grid--lg-4i flex-grid--grow">
            <div class="flex-grid__wrapper flex-grid--grow">
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/vscode.svg' | url }}" alt="">
                    <h6>VS Code</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/spotify.svg' | url }}" alt="">
                    <h6>Spotify</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/adobe-xd.svg' | url }}" alt="">
                    <h6>Adobe XD</h6>
                </div>
                <!-- <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/adobe-fonts.svg' | url }}" alt="">
                    <h6>Adobe Fonts</h6>
                </div> -->
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/nodejs.svg' | url }}" alt="">
                    <h6>Node.js</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/npm.svg' | url }}" alt="">
                    <h6>NPM</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/css-3.svg' | url }}" alt="">
                    <h6>html & css</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/sass.svg' | url }}" alt="">
                    <h6>Sass / scss</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/javascript.svg' | url }}" alt="">
                    <h6>Javascript</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/github.svg' | url }}" alt="">
                    <h6>GitHub</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/electron.svg' | url }}" alt="">
                    <h6>Electron</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/react.svg' | url }}" alt="">
                    <h6>React</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/graphql.svg' | url }}" alt="">
                    <h6>GraphQL</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/vercel.svg' | url }}" alt="">
                    <h6>Vercel</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/netlify.svg' | url }}" alt="">
                    <h6>Netlify</h6>
                </div>
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/11ty.svg' | url }}" alt="">
                    <h6>Eleventy</h6>
                </div>
                <!-- <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/jekyll.svg' | url }}" alt="">
                    <h6>Jekyll</h6>
                </div> -->
                <div class="flex-grid__item">
                    <img src="{{ '/static/images/techstack/shopify.svg' | url }}" alt="">
                    <h6>Liquid</h6>
                </div>
            </div>
        </div>
    </div>
</div>
